<div class="container w-75 justify-items-center mt-3 h-100">
    <h3 class="text-start">Security settings</h3>
    <form mat-form-field [formGroup]="editPasswordForm">
        <div>
            <div class="d-flex column justify-content-center w-100">
                <mat-form-field class="m-2 w-50">
                    <mat-label>Current password</mat-label>
                    <input matInput type="password" formControlName="currentPassword">
                    @if (editPasswordForm.get("currentPassword")?.hasError("required")) {
                        <mat-error>This field is required</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="m-2 w-50">
                    <mat-label>New password</mat-label>
                    <input matInput type="password" formControlName="newPassword">
                    @if (editPasswordForm.get("newPassword")?.hasError("required")) {
                        <mat-error>This field is required</mat-error>
                    }
                    @else if (editPasswordForm.get("newPassword")?.hasError("pattern")) {
                        <mat-error>Minimum length of 8, 
                            and contain at least 1 lowercase char, 
                            1 uppercase char, 1 digit and 1 special character
                        </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="my-3">
                <button mat-flat-button (click)="onSubmit()" [disabled]="editPasswordForm.invalid">Change password</button>
            </div>
        </div>
    </form>
</div>