.nav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

mat-toolbar {
  background-color: purple;
}

a {
  color: #ffd7f5;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

.active {
  color: yellow
}